labs/.ipynb_checkpoints/
proj/.ipynb_checkpoints/
*.pkl
*.pyc
*.RData
*.Rhistory
raw_proj1.R
*.txt
*.csv
labs/data/
.vscode/
CIS6930-datamining/finalproj/.idea/
CIS6930-datamining/finalproj/.vscode/
proj/data/
proj/.idea/
proj/project/
proj/target/

